<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>4GUYS LUXURYY</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color:#f7f7f7;">
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}
  <br><br><br>
<h3 style="text-align:center;">Nhóm chúng em gồm 4 thành viên: </h3>
<h4 style="text-align:center;"> 2001211989 - Nguyễn Phan Hoàng </h4>
<h4 style="text-align:center;"> 2001215962 - Võ Lê Minh </h4>
<h4 style="text-align:center;"> 2001215693 - Chế Chí Đạt </h4>
<h4 style="text-align:center;"> 2001216317 - Hồ Phí Vĩnh </h4>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include "ecom/footer.html" %}
</body>


</html>
